<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>config</key>
	<array>
		<string>安全装备</string>
		<string>控制配置</string>
		<string>外部配置</string>
		<string>内部配置</string>
		<string>座椅配置</string>
		<string>多媒体配置</string>
		<string>灯光配置</string>
		<string>玻璃/后视镜</string>
		<string>空调/冰箱</string>
		<string>高科技配置</string>
	</array>
	<key>param</key>
	<array>
		<string>基础参数</string>
		<string>车身参数</string>
		<string>发动机参数</string>
		<string>底盘转向参数</string>
		<string>车轮制动参数</string>
	</array>
</dict>
</plist>
